<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

</head>
<body>
<div class="container">
    <h2><a href="/customers">Manager Customer</a></h2>
    <table class="table table-striped">
        <thead class="thead-dark">
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Salary</th>
        <th scope="col">Deposit</th>
        <th scope="col">Withdraw</th>
        <th scope="col">Actions</th>
        </thead>
        <th:block th:each="transfer : ${transfers}">
            <tr>
                <td th:text="${transfer.id}"></td>
                <td th:text="${transfer.idSender}"></td>
                <td th:text="${transfer.nameSender}"></td>
                <td th:text="${transfer.idReceiver}"></td>
                <td th:text="${transfer.nameReceiver}"></td>
                <td th:text="${transfer.amount}"></td>
                <td th:text="${transfer.transaction_fee}"></td>
                <td th:text="${transfer.total_amount}"></td>
            </tr>
        </th:block>
    </table>
<!--    <p  style="float: right;font-weight: bold; margin-right: 150px ">Total:<th:value="${total}"/></p>-->
</div>
</body>
</html>
